*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    padding: 35px;
    background-color: rgb(15, 15, 81);
    color: white;
    position: sticky;
    top: 0;
}


.HD-Person-Nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}

.HD-Person-Nav ul li{
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    
}

.PR-Profile{
  text-align: center;
  padding-top: 35px;
  background: rgb(42, 168, 218);
  color: white;
  padding-bottom: 20px;
  
  
}

.PR-Profile img{
    margin-bottom: 20px;
}

.PR-Profile h1{
    margin-bottom: 20px;
}

.PR-Profile h2{
    margin-bottom: 20px;
}

.PR-Profile p{
    font-size: 25px;
    margin-bottom: 25px;
}

button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: rgb(38, 15, 187);
    color: white;
    font-size: 20px;
}

button:hover{
    background-color: white;
    color: black;
}
 
.PR-Profile-About{
    padding: 5vh 20vw 10vh  20vw ;
    
}

.PR-Profile-About-Desc-Img{
    display: flex;
    justify-content: space-between;
}

.PR-Profile-About-Desc{
    width: 30vw;
    text-align: justify;
    font-size: larger;
}

.PR-Profile-About-Left{
    margin-bottom: 50px;
}

.PR-Profile-About-Left h1{
    font-weight: bolder;
    margin-bottom: 10px;
    color: blue;
    
}

.PR-Profile-About-Empty{
    border: 2px solid blue;
    width: 140px;
    border-radius: 25px;
}


.PR-Profile-Skill{
    padding: 5vh 20vw 10vh  20vw ;
}

.PR-Profile-Skill-Title{
    margin-bottom: 50px;
    color: blue;
}

.PR-Profile-Skill-MySkills{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.PR-Profile-Skill-MySkills-Dtls{
    text-align: center;
    width: 8vw;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 15px;
    height: 25vh;
    padding: 25px 10px 45px 10px;
    box-shadow: 2px 2px 2px  rgb(175, 172, 172);
    
    
}

.PR-Profile-Skill-MySkills-Dtls :first-child{
    color: rgb(33, 156, 233);
    font-size: 50px;
}

.PR-Profile-Skill-MySkills-Dtls-Tit{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}