* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    background-color: rgb(15, 15, 81);
    color: white;
    position: sticky;
    top: 0;

}


.HD-Person-Nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    


}

 .HD-Person-Nav ul li a{
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
    color: white;

} 

.PR-Profile {
    text-align: center;
    padding-top: 35px;
    background: rgb(42, 168, 218);
    color: white;
    padding-bottom: 20px;


}

.PR-Profile img {
    margin-bottom: 20px;
}


.PR-Profile h2 {
    margin-bottom: 20px;
}

.PR-Profile p {
    font-size: 25px;
    margin-bottom: 25px;
}

button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: rgb(38, 15, 187);
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

 .PR-Profile-About {
    padding: 5vh 15vw 20vh 15vw;

}

.PR-Profile-About-Desc-Img {
    display: flex;
    justify-content: space-between;
}

.PR-Profile-About-Desc {
    width: 30vw;
    text-align: justify;
    font-size: larger;
}

.PR-Profile-About-Left {
    margin-bottom: 50px;
}

.PR-Profile-h1-Title {
    font-weight: bolder;
    margin-bottom: 10px;
    color: blue;

}

.PR-Profile-About-Empty {
    border: 2px solid blue;
    width: 140px;
    border-radius: 25px;
}

.PR-Profile-Project-Empty {
    width: 165px;
}

.PR-Profile-Skill-MySkills {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.PR-Profile-Skill-MySkills-Dtls {
    text-align: center;
    width: 8vw;
    border: 1px solid rgb(184, 178, 178);
    border-radius: 15px;
    height: auto;
    padding: 25px 10px 45px 10px;
    box-shadow: 2px 2px 2px rgb(175, 172, 172);


}

.PR-Profile-Skill-MySkills-Dtls :first-child {
    color: rgb(33, 156, 233);
    font-size: 50px;
}

.PR-Profile-Skill-MySkills-Dtls-Tit {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

.PR-Profile-Project-Title {
    align-items: left;
    padding: 15vh 0 5vh 0;
}

.PR-Profile-Prj-h1-Title {
    color: blue;


}


.PR-Profile-Project-Other {
    display: flex;
    justify-content: center;
    text-align: justify;
    gap: 40px;

}

.PR-Profile-Project-Dtls {
    border: 1px solid rgb(237, 231, 231);
     padding: 25px; 
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgb(146, 140, 140);
    padding: 5px 5px 5px 5px;
    width: auto;
    height: auto;
}

.PR-Profile-Project-Dtls img {
    border-radius: 15px;
    width: auto;

}

.PR-Profile-Project-Dtls-tech {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
}

.PR-Profile-Project-Dtls-tech-dtls {
    width: auto;
    border: none;
    background-color: rgb(125, 226, 226);
    border-radius: 15px;
    padding: 7px;
    color: blue;
}

.PR-Profile-Prj-Cal-Tit {
    font-weight: 700;
    font-size: large;
    padding: 10px 40px 10px 40px;
}

.PR-Profile-Prj-Cal-Desc {
    padding: 10px 40px 10px 40px;

} 

/* Responsive */

@media (max-width:750px) {
    header {
        display: flex;
        flex-direction: column;
    }

}
/* 
@media (max-width:400px) {
    .HD-Person-Nav ul {
        display: flex;
        flex-direction: column;
        font-size: x-small;
        padding: 0;
    }
} */

@media (max-width: 550px) {

     .HD-Person-Nav ul {
        display: flex;
        flex-direction: column;
        font-size: small;
    }

    .HD-Person-Nav ul li a {
        gap: 5rem;
        color: red;
    }
    

  
}