*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    padding: 35px;
    background-color: rgb(15, 15, 81);
    color: white;
}

.HD-Person-Nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.HD-Person-Nav ul li{
    list-style: none;
    font-size: larger;
    font-weight: bolder;
    
}

.PR-Profile{
  text-align: center;
  padding-top: 35px;
  background: rgb(42, 168, 218);
  color: white;
  padding-bottom: 20px;
  
  
}

.PR-Profile img{
    margin-bottom: 20px;
}

.PR-Profile h1{
    margin-bottom: 20px;
}

.PR-Profile h2{
    margin-bottom: 20px;
}

.PR-Profile p{
    font-size: 25px;
    margin-bottom: 25px;
}

button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: rgb(38, 15, 187);
    color: white;
    font-size: 20px;
}

button:hover{
    background-color: white;
    color: black;
}

.PR-Profile-About{
    display: flex;
    justify-content: space-between;
    padding-right: 15vw;
    padding-left: 15vw;
    padding-top: 10vh;
}

.PR-Profile-About-Left{
    width: 30vw;
    text-align: justify;
}